name: user-service

replicaCount: 3

image:
  repository: sxmpath577/user-service
  tag: v1

service:
  type: ClusterIP
  port: 3001
  targetPort: 3001

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi
