name: api-gateway

replicaCount: 1

image:
  repository: sxmpath577/api-gateway
  tag: v1

service:
  type: LoadBalancer
  port: 3000
  targetPort: 3000

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
