name: user-service

replicaCount: 1

image:
  repository: sxmpath577/user-service
  tag: v1

service:
  type: ClusterIP
  port: 3001
  targetPort: 3001

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
